
.DS_Store
icons/IconKitchen-Output/web/README.txt
icons/IconKitchen-Output/web/icon-512.png
icons/IconKitchen-Output/web/icon-512-maskable.png
icons/IconKitchen-Output/web/icon-192.png
icons/IconKitchen-Output/web/icon-192-maskable.png
icons/IconKitchen-Output/web/favicon.ico
icons/IconKitchen-Output/web/apple-touch-icon.png
icons/IconKitchen-Output/ios/Contents.json
icons/IconKitchen-Output/ios/AppIcon~ipad.png
icons/IconKitchen-Output/ios/AppIcon~ios-marketing.png
icons/IconKitchen-Output/ios/AppIcon@3x.png
icons/IconKitchen-Output/ios/AppIcon@2x~ipad.png
icons/IconKitchen-Output/ios/AppIcon@2x.png
icons/IconKitchen-Output/ios/AppIcon-83.5@2x~ipad.png
icons/IconKitchen-Output/ios/AppIcon-60@3x~car.png
icons/IconKitchen-Output/ios/AppIcon-60@2x~car.png
icons/IconKitchen-Output/ios/AppIcon-40~ipad.png
icons/IconKitchen-Output/ios/AppIcon-40@3x.png
icons/IconKitchen-Output/ios/AppIcon-40@2x~ipad.png
icons/IconKitchen-Output/ios/AppIcon-40@2x.png
icons/IconKitchen-Output/ios/AppIcon-29~ipad.png
icons/IconKitchen-Output/ios/AppIcon-29@3x.png
icons/IconKitchen-Output/ios/AppIcon-29@2x~ipad.png
icons/IconKitchen-Output/ios/AppIcon-29@2x.png
icons/IconKitchen-Output/ios/AppIcon-29.png
icons/IconKitchen-Output/ios/AppIcon-20~ipad.png
icons/IconKitchen-Output/ios/AppIcon-20@3x.png
icons/IconKitchen-Output/ios/AppIcon-20@2x~ipad.png
icons/IconKitchen-Output/ios/AppIcon-20@2x.png
icons/IconKitchen-Output/android/res/mipmap-xxxhdpi/ic_launcher_monochrome.png
icons/IconKitchen-Output/android/res/mipmap-xxxhdpi/ic_launcher_foreground.png
icons/IconKitchen-Output/android/res/mipmap-xxxhdpi/ic_launcher_background.png
icons/IconKitchen-Output/android/res/mipmap-xxxhdpi/ic_launcher.png
icons/IconKitchen-Output/android/res/mipmap-xxhdpi/ic_launcher_monochrome.png
icons/IconKitchen-Output/android/res/mipmap-xxhdpi/ic_launcher_foreground.png
icons/IconKitchen-Output/android/res/mipmap-xxhdpi/ic_launcher_background.png
icons/IconKitchen-Output/android/res/mipmap-xxhdpi/ic_launcher.png
icons/IconKitchen-Output/android/res/mipmap-xhdpi/ic_launcher_monochrome.png
icons/IconKitchen-Output/android/res/mipmap-xhdpi/ic_launcher_foreground.png
icons/IconKitchen-Output/android/res/mipmap-xhdpi/ic_launcher_background.png
icons/IconKitchen-Output/android/res/mipmap-xhdpi/ic_launcher.png
icons/IconKitchen-Output/android/res/mipmap-mdpi/ic_launcher_monochrome.png
icons/IconKitchen-Output/android/res/mipmap-mdpi/ic_launcher_foreground.png
icons/IconKitchen-Output/android/res/mipmap-mdpi/ic_launcher_background.png
icons/IconKitchen-Output/android/res/mipmap-mdpi/ic_launcher.png
icons/IconKitchen-Output/android/res/mipmap-hdpi/ic_launcher_monochrome.png
icons/IconKitchen-Output/android/res/mipmap-hdpi/ic_launcher_foreground.png
icons/IconKitchen-Output/android/res/mipmap-hdpi/ic_launcher_background.png
icons/IconKitchen-Output/android/res/mipmap-hdpi/ic_launcher.png
icons/IconKitchen-Output/android/res/mipmap-anydpi-v26/ic_launcher.xml
icons/IconKitchen-Output/android/play_store_512.png
icons/IconKitchen-Output.zip
