* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Proto Mono', monospace;
  line-height: 1.6;
  color: #e5e9f0;
  background: #282A36;
  padding-bottom: 40px
}

header {
  background: #282A36;
  padding: 1.5rem 0 0.5rem;
  text-align: center;
}

.logo {
  width: 125px;
  height: auto;
  margin-right: 0px;
}

header h1 {
  color: #e5e9f0;
  margin: 0;
}

main {
  max-width: 1200px;
  margin: 1rem auto;
  padding: 0 1rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.card {
  background: #44475A;
  padding: 1rem;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  flex: 1;
  text-align: center;
}

.larger-text {
  font-size: 1.5em;
}

.larger-text-2 {
  font-size: 1.25em;
}


.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.card h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.card table {
  width: 100%;
  border-collapse: collapse;
  outline: none;
}

.card table thead th {
  padding-bottom: 0.5rem;
  text-align: center;
  background: none;
  border-bottom: 1px solid #44475A;
  color: #F1FA8C;
  outline: none;
}

.card table tbody tr:nth-child(odd) {
  background-color: #44475A;
}

.card table tbody td,
.card table tbody th {
  padding: 0.5rem 0;
  border-top: 1px solid #44475A;
  border-bottom: 1px solid #44475A;
}

.card table tbody td:first-child,
.card table tbody th:first-child {
  padding-left: 0;
}

.card table tbody td:last-child,
.card table tbody th:last-child {
  padding-right: 0;
}

#countdown {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.progress-bar-container {
  background-color: #333333;
  border-radius: 5px;
  overflow: hidden;
  height: 10px;
  margin-bottom: 1rem;
}

#progress-bar {
  background-color: #FFB86C;
  height: 100%;
  width: 0;
}

.fee-label {
  font-weight: bold;
}

#latest-blocks a {
  color: #FFB86C;
  text-decoration: none;
}

#btc-price, #hash-rate, #chain-size {
  font-size: 2em;
}

#mining-difficulty {
  font-size: 2em;
}

#fastest-fee, #half-hour-fee, #one-hour-fee {
  font-size: 1.25em;
}

@keyframes flash {
  0% {
    color: #FFB86C;
  }
  50% {
    color: #FFB86C;
  }
  100% {
    color: #FFB86C;
  }
}

.flash {
  animation: flash 1s;
}

@font-face {
  font-family: 'Proto Mono';
  src: url('fonts/ProtoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proto Mono';
  src: url('fonts/ProtoMono-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.label {
  color: #e5e9f0;
  font-size: 14px;
}

.value {
  color: #FFB86C;
}

.separator {
  border: none;
  border-top: 2px solid #e5e9f0;
  margin: 10px 0;
}

.priority-label {
  font-size: 1.5rem;
  color: #d8dee9;
}

.fee-rate-value {
  font-size: 1.35rem;
  color: #FFB86C;
}

.btc-to-corn-value {
  font-size: 1.75rem;
  color: #FFB86C;
}

.cornstats-title {
  font-size: 2rem;
  color: #e5e9f0;
}

.cgrnd-image {
  width: 65px;
  height: auto;
}

.cc-image {
  width: 80px;
  height: auto;
}

.bc-image {
  width: 100px;
  height: auto;
  margin: -20px
}

.mems-image {
  width: 65px;
  height: auto;
}

.bchain-image {
  width: 65px;
  height: auto;
}

.mining-pool {
  display: block;
}

.orangeText {
  color: #FFB86C;
}

.heading {
  font-size: 1.4em;
}

.version-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #282A36;
  color: white;
  text-align: center;
  font-size: 14px;
  z-index: 1000;
}